@import "tailwindcss";

/* ---------- COOLORS PALETTES ---------- */
/* fcecae, E7C6FF */
/* https://coolors.co/palette/461d7c-7549b1-e9b200-fdd023-fcecae */
/* https://coolors.co/palette/ffd6ff-e7c6ff-c8b6ff-b8c0ff-bbd0ff */
/* https://coolors.co/palette/97dffc-858ae3-613dc1-4e148c-2c0735 */

:root {
  --background: #e7d4ff;
  --foreground: #0e0e0e;
  --primary: #461d7c;
  --secondary: #fff;

  --authentic-sans: "Authentic Sans", Arial, Helvetica, sans-serif;
  --authentic-sans-condensed: "Authentic Sans Condensed", Arial, Helvetica, sans-serif;
  --pixel-regular: "That That New Pixel Variable", Arial, Helvetica, sans-serif;
  --pixel-italic: "That That New Pixel Variable Italic", Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--pixel-regular), Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h1, h2, h3 {
  font-family: var(--pixel-italic), Arial, Helvetica, sans-serif;
}

a {
  color: var(--color-primary);
  font-style: italic;
  text-decoration: dotted;
}

button {
  font-family: var(--authentic-sans), Arial, Helvetica, sans-serif;
  background-color: var(--color-foreground);
  color: var(--color-secondary);
}

button:hover {
  scale: 1.1;
  transition: scale 0.3s ease;
  drop-shadow: 0 0 20px #000;
}